* {
  margin: 0;
  padding: 0;
}

/* Container for hele siden */
.container {
  /* width: 100%; */
  display: flex;
}

/* Vertikal sidebar */
.sidebar {
  width: 79%;
  height: 100vh;
  margin: 20px;
  padding: 0 10px 0 0;
}

.sidebar-logo {
  width: 28px;
  cursor: pointer;
  transition-duration: 0.4s;

}

.sidebar-logo:hover {
  background-color: #1d9cf081;
  border-radius: 25px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #000;
}

.sidebar-titles {
  padding-left: 10px;
}

.sidebar-link {
  border-radius: 25px;
  color: #000;
  margin: 2% -.25rem;
  padding: 2% .25rem;
  transition-duration: 0.4s;
}

.sidebar-link:hover {
  box-shadow: inset 200px 0 0 0 #E7E7E8;
  color: #1D9BF0;
}

.sidebar .btn {
  background-color: #1D9BF0;
  border-radius: 25px;
  color: #ffffff;
  margin: 2% -.25rem;
  padding: 4px 56px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;

}

.sidebar .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#explore {
  width: 22px;
}



/* Sidens indhold */
.column-2 {
  border: #E7E7E8 solid 2px;
  border-style: none solid none solid;
  width: 50%;
  padding: 2%;
}

.content h1 {
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

.avatar-img {
  height: 50px;
  width: auto;
  margin: 10px;
  border: #E7E7E8 solid 1px;
  border-radius: 100%;
}

#pip-name {
  width: 85%;
}

#pip-content {
  height: 20vh;
  width: 100%;
}

.buttom-bar {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-right: 2%;
}

.buttom-bar input {
  background-color: #1D9BF0;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  margin: 0 0 4% 2%;
  padding: 4px 30px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
}

.buttom-bar input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Modal */
#form-id-modal {
  padding: 10px;
  
}

.btn {
  font-size: 1rem;
  padding: 0;
}

#pip-name-modal {
  width: 83%
}

#pip-content-modal {
  height: 20vh;
  width: 100%;
}

/* Nye pips */
.pip-box {
  border: #E7E7E8 solid 1px;
  border-radius: 5px;
  padding: 2%;
  margin: 2% 0;
}

.pip-box:hover {
  background-color: #e7e7e834;
}

.user-pip {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
}

.interact {
  display: flex;
  justify-content: space-around;
}

.pip-icons {
  width: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#comment:hover {
  background-color: #1d9cf081;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#retweet:hover {
  background-color: #59e99581;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#like:hover {
  background-color: #f86b6b83;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#share:hover {
  background-color: #1d9cf081;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#menu:hover {
  background-color: #1d9cf081;
  border-radius: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

 /* Popup container */
 .popup {
  width: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #fff;
  border: #E7E7E8 solid 1px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E7E7E8 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.edit {
  color: black;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
}
.edit:hover {
  background-color: #E7E7E8;
}

.delete {
  color: red;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
}
.delete:hover {
  background-color: #E7E7E8;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 
/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #E7E7E8;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  margin: 20px 0 4% 20px;
  padding: 4px 30px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;
}

.search-bar img {
  margin-right: 6%;
}
.search-bar input {
  border: none;
  background-color: #E7E7E8;
}


.box {
  border: #E7E7E8 solid 1px;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  background-color: #e7e7e834;
}

.box h1 {
  padding: 2% 2% 0 2%;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

.trend {
  padding: 4% 2%;
  font-size: smaller;
}

.trend:hover {
  background-color: #e7e7e8d1;
}

.kategori, .nummer {
  margin: 0;
  padding: 0;
}

.trend h6 {
  margin: 0;
  padding: 2px 0;
  
}


/* Modal update */
.hide{
  display: none;  
}

.overlay {
  display: flex;
  width: 100%;
}


.edit-btn {
  background-color: #1D9BF0;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  margin: 2% -.25rem;
  padding: 4px 56px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.4s;

}

.edit-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




/* Sidebar titler er gemte, medmindre skærmen er 1024px eller større */
.sidebar-titles {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar-titles {
    display: inline;
  }
}
