* {
  margin: 0;
  padding: 0;
}

/* Container for hele siden */
.container {
  width: 100%;
  display: flex;
}

/* Vertikal sidebar */
.sidebar {
  flex-direction: column;
  max-width: 20%;
  border: 1px solid black;
  padding: 2%;
}

.sidebar a {
  display: block;
}

/* Sidens indhold */
.content {
  width: 80%;
  border: 1px solid black;
  padding: 2%;
}

.content h1 {
  font-family: multi-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.avatar-img{
  height: 50px;
  width: auto;
  padding-bottom: 10px;
  display: block;
}

#pip-name {
  display: block;
  width: auto;
}

#pip-content {
  display: block;
}

/* Modal */
.btn {
  font-size: 1rem;
  padding: 0;
}

/* .modal{
    
} */

/* Sidebar titler er gemte, medmindre skærmen er 1024px eller større */
.sidebar-titles {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar-titles {
    display: inline;
  }
}
